* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    background-color: floralwhite;
    color: black;
    padding: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    padding: 1rem;
    justify-items: center;
    align-items: center;
}

.card {
    border-radius: 3px;
    border: 1px solid gainsboro;
    background-color: midnightblue;
    padding: 30px;
    cursor: pointer;
}

.card:hover {
    background-color: rgb(37, 37, 146);
}